#!/bin/bash

# Make vim the default editor
export EDITOR=/usr/local/bin/vim;
export TERMINAL="urxvt";

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
#export HISTCONTROL=ignoreboth
export HISTCONTROL=ignoredups;

# append to the history file, don't overwrite it
shopt -s histappend
# Make some commands not show up in history
export HISTIGNORE=" *:sc:ls:cd:cd -:pwd:exit:date:* --help:* -h:pony:pony add *:pony update *:pony save *:pony ls:pony ls *";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

# disable the default virtualenv prompt change
export VIRTUAL_ENV_DISABLE_PROMPT=1
# source virtualenv wrapper if exits
venv_wrappwer="/usr/bin/virtualenvwrapper.sh"
if [[ -f "$venv_wrappwer" ]]; then
    #statements
    source $venv_wrappwer
fi



echo_color(){
    ###
    # print color message
    ###
    MESSAGE=$1
    COLOR=$2
    echo `tput setaf $COLOR`$MESSAGE
    # move back to white
    tput setaf 7
}

add_var_to_path(){
    ###
    # add var $1 to var $2
    # export var $2
    ###
    if [[ ! -d ${!1} ]]; then
        echo_color "... path ${1} to does not exists" 5
    else
        if [[ $(echo "${!2}" | grep "${!1}") == "" ]]; then
            export ${2}=${!1}${!2:+:${!2}}
            echo_color "... adding path ${!1} to ${2}" 2
        else
            echo_color "... variable ${1} already in ${2}" 3

        fi
    fi
}

add_var_to_lib(){
    # check directory exists
    if [[ ! -d ${!1} ]]; then
        echo_color "... path ${1} to does not exists" 1
    else
        LIB_PATH=`find ${!1}/ -maxdepth 1 -name "*lib64" -o -name "*lib"`
        echo_color "... found library $LIB_PATH" 7

        if [[ $(echo "${!2}" | grep "${LIB_PATH}") == "" ]]; then
            echo_color "... adding lib path ${LIB_PATH} to ${2}" 2

            export ${2}=${LIB_PATH}${!2:+:${!2}}
        else
            echo_color "... path ${LIB_PATH} already in  ${2}" 3
        fi
        # add to CMAKE_PREFIX_PATH 
        if [[ $(echo "${CMAKE_PREFIX_PATH}" | grep "${!1}") == "" ]]; then
            echo_color "... adding lib path ${1} to CMAKE_PREFIX_PATH" 2
            export CMAKE_PREFIX_PATH=${!1}${CMAKE_PREFIX_PATH:+:${CMAKE_PREFIX_PATH}}
        fi
    fi
}

export JAVA_WORKSPACE=/home/$USER/workspace/java
echo_color "... setting JAVA_WORKSPACE as $JAVA_WORKSPACE" 2

BLAS=/opt/OpenBLAS
add_var_to_lib BLAS LD_LIBRARY_PATH

GTEST=/opt/gtest/usr/local
add_var_to_lib GTEST LD_LIBRARY_PATH

OpenCV=/opt/opencv/usr/local
add_var_to_lib OpenCV LD_LIBRARY_PATH

Caffe=/opt/caffe
add_var_to_lib Caffe LD_LIBRARY_PATH

CUDA=/usr/local/cuda
add_var_to_lib CUDA LD_LIBRARY_PATH

CUPTI=/usr/local/cuda/extras/CUPTI
add_var_to_lib CUPTI LD_LIBRARY_PATH

CUDA_BIN=/usr/local/cuda/bin
add_var_to_path CUDA_BIN PATH

LOCAL_BIN=/home/$USER/local/bin
add_var_to_path LOCAL_BIN PATH
unset LOCAL_BIN

MY_BIN=/home/$USER/bin
add_var_to_path MY_BIN PATH
unset MY_BIN

