
*background:            #000000
URxvt*background:       #000000
*foreground:            #ffffff

*utf8:                  1
*saveLines:             999999

!-- Xft settings -- !
!Xft.dpi:        144
!Xft.rgba:       rgb
!Xft.autohint:   0
!Xft.lcdfilter:  lcddefault
!Xft.hintstyle:  hintfull
!Xft.hinting:    1
!Xft.antialias:  1
!

!## XTERM
XTerm.customization:     -none
XTerm.background:        #000000
XTerm.VT100.background:  #000000
XTerm.foreground:        #aaaaaa
XTerm.VT100.foreground:  #aaaaaa
XTerm.termName:    xterm-256color
XTerm*ttyModes:    start ^- stop ^-
XTerm*boldMode:    false
XTerm*allowBoldFonts: false
XTerm*scrollBar:   false
!XTerm*backarrowKey: false
XTerm*colorBDMode: true
!XTerm*visualBell: true
XTerm*bellIsUrgent: true
XTerm*eightBitInput: false
XTerm*modifyCursorKeys: 2
XTerm*trimSelection: true
XTerm*CharClass: 33:48,37-38:48,45-47:48,58:48,61:48,63-64:48,126:48,161-255:48
XTerm*activeIcon: true
XTerm.VT100.translations: #override \
	Ctrl<Key>comma: scroll-forw(1,page-1) \n\
	Ctrl<Key>period: scroll-back(1,page-1) \n\
	Shift Ctrl<Key>minus: smaller-vt-font() \n\
	Shift Ctrl<Key>equal: larger-vt-font() \n\
	Ctrl<Key>9: smaller-vt-font() \n\
	Ctrl<Key>0: larger-vt-font() \n\
	Ctrl<Key>1: set-render-font(toggle)

#ifdef FIXED
XTerm.VT100.font:         FIXED-iso8859-1
XTerm.font:               FIXED-iso8859-1
XTerm*boldFont:           FIXED-iso8859-1
XTerm*utf8Fonts.font:     FIXED-iso10646-1
XTerm*utf8Fonts.boldFont: FIXED-iso10646-1
#else
XTerm.VT100.font:         -misc-fixed-medium-r-normal--20-*-*-*-c-*-iso8859-1
XTerm.font:               -misc-fixed-medium-r-normal--20-*-*-*-c-*-iso8859-1
XTerm*boldFont:           -misc-fixed-medium-r-normal--20-*-*-*-c-*-iso8859-1
XTerm*utf8Fonts.font:     -misc-fixed-medium-r-normal--20-*-*-*-c-*-iso10646-1
XTerm*utf8Fonts.boldFont: -misc-fixed-medium-r-normal--20-*-*-*-c-*-iso10646-1
#endif
#if WIDTH >= 1920
XTerm*renderFont: true
#endif
XTerm.fontMenu.fontdefault.Label: Default
XTerm.fontMenu.font1.Label: Tiny
XTerm*font1:                -misc-fixed-medium-r-normal--6-*-*-*-c-*-iso8859-1
XTerm*utf8Fonts.font1:      -misc-fixed-medium-r-normal--6-*-*-*-c-*-iso10646-1
XTerm.fontMenu.font2.Label: Small
XTerm*font2:                -misc-fixed-medium-r-normal--8-*-*-*-c-*-iso8859-1
XTerm*utf8Fonts.font2:      -misc-fixed-medium-r-normal--8-*-*-*-c-*-iso10646-1
XTerm.fontMenu.font3.Label: Semicondensed
XTerm*font3:                -misc-fixed-medium-r-semicondensed--13-*-*-*-c-*-iso8859-1
XTerm*utf8Fonts.font3:      -misc-fixed-medium-r-semicondensed--13-*-*-*-c-*-iso10646-1
XTerm.fontMenu.font4.Label: Medium
XTerm*font4:                -misc-fixed-medium-r-normal--14-*-*-*-c-*-iso8859-1
XTerm*utf8Fonts.font4:      -misc-fixed-medium-r-normal--14-*-*-*-c-*-iso10646-1
XTerm.fontMenu.font5.Label: Large
XTerm*font5:                -misc-fixed-medium-r-normal--18-*-*-*-c-*-iso8859-1
XTerm*utf8Fonts.font5:      -misc-fixed-medium-r-normal--18-*-*-*-c-*-iso10646-1
XTerm.fontMenu.font6.Label: Huge
XTerm*font6:                -misc-fixed-medium-r-normal--20-*-*-*-c-*-iso8859-1
XTerm*utf8Fonts.font6:      -misc-fixed-medium-r-normal--20-*-*-*-c-*-iso10646-1
XTerm*faceName: MONOSPACE:MEDIUM
#ifdef MONOSIZE
XTerm*faceSize: MONOSIZE
#else
XTerm*faceSize: 14
#endif
XTerm*faceSize1: 10
XTerm*faceSize2: 12
XTerm*faceSize3: 14
XTerm*faceSize4: 17
XTerm*faceSize5: 21
XTerm*faceSize6: 24

! -- Fonts -- !
URxvt.allow_bold:  false

!URxvt*font: xft:Monospace:pixelsize=18
!URxvt*boldFont: xft:Monospace:pixelsize=18
URxvt*font: xft:Monospace:pixelsize=17
URxvt*boldFont: xft:Monospace:pixelsize=18
URxvt.termName: rxvt-256color
! Fix font space
 URxvt*letterSpace: -1

! Cursor
URxvt.cursorBlink:  true
URxvt.cursorColor:  #657b83
URxvt.cursorUnderline:  false
!
! ! Pointer
URxvt.pointerBlank:  true

URxvt.scrollBar:  false

!*faceSize:              10
URxvt*bellIsUrgent:          true

!! clickable urls
URxvt.perl-ext-common:      default,matcher,selection-to-clipboard,clipboard
URxvt.url-launcher:         /usr/bin/xdg-open
URxvt.matcher.button:       1
URxvt.url-select.underline: true

!! copy paste
URxvt.clipboard.autocopy:   true
URxvt.clipboard.copycmd:    xclip -i -selection clipboard
URxvt.clipboard.pastecmd:   xclip -o -selection clipboard

!! disable default bindings for Control-Shift
URxvt.iso14755: false
URxvt.iso14755_52: false

!clipboard stuff 
URxvt.perl-ext:    default,searchable-scrollback<C-S-question>,matcher,selection-pastebin,remote-clipboard,selection-autotransform

!! Control-Shift-C for copy
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste
!URxvt.keysym.Control-v: perl:clipboard:paste
