snippet pu "puts" 
puts "$0"
endsnippet
snippet if "if statemen" 
if ($1)
	$0
end
endsnippet

snippet ife "if statemen" 
if ($1)
	$0
else

end
endsnippet

snippet eif "if statemen" 
if ($1)
	$2
elsif($3)
	$0
end
endsnippet
snippet def "func def" 
def $1 ($2)
	$3
end
endsnippet
